<launch>
    <arg name="model" default="$(find go1_robot_description)/xacro/robot.xacro" />  
    <arg name="gui" default="false" />

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
      <param name="use_gui" value="$(arg gui)"/>
    </node>

      <!-- convert joint states to TF transforms for rviz, etc -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="50.0" /> 
      <param name="use_tf_static" value="true"/>
    </node>

  </launch>