<launch>

    <arg name="ctrl_level" default="highlevel"/>

    <!-- define params -->
    <param name="control_level" value="$(arg ctrl_level)"/>


    <!-- fire up the ros_udp node responsible for highlevel comms -->
    <node pkg="unitree_legged_real" type="ros_udp" name="node_ros_udp" args="$(arg ctrl_level)"/> 
    <node pkg="go1_autonomous_navigation" type="go1_odom_node" name="odometry"/> 
    <node pkg="go1_autonomous_navigation" type="go1_imu_node" name="imu" output="screen"/>      
    <node pkg="go1_autonomous_navigation" type="go1_walk_node" name="walk" output="screen"/>   

    <!-- launching robot description and static joints -->
    <include file="$(find go1_robot_description)/launch/go1_state.launch">
        
    </include>

    <!-- launching gmapping -->
    <include file="$(find go1_mapping)/launch/mapping.launch">
        
    </include>
   


</launch>